<a href="https://colab.research.google.com/github/anjutyagi255/global-terrorism-analysis/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Global Terrorism Database (GTD) is an open-source database including information on terrorist attacks around the world from 1970 through 2017. The GTD includes systematic data on domestic as well as international terrorist incidents that have occurred during this time period and now includes more than 180,000 attacks. The database is maintained by researchers at the National Consortium for the Study of Terrorism and Responses to Terrorism (START), headquartered at the University of Maryland.

Explore and analyze the data to discover key findings pertaining to terrorist activities

In [ ]:
#importing necessery libraries for future analysis of the dataset
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.image as mpimg
import seaborn as sns
import plotly.express as px

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#ISO/IEC 8859-1 encodes what it refers to as "Latin alphabet no. 1"

gtd = pd.read_csv('/content/drive/MyDrive/capston project 1/Global Terrorism Data.csv', encoding ='ISO-8859-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

For given data set, each column is demanding very high memory, pandas tries to determine what dtype to set by analyzing the data in each column.

In [ ]:
#information about data frame
gtd.info()

In [ ]:
pd.set_option('display.max_columns',None)
gtd.head()

In [ ]:
gtd.shape

In [ ]:
gtd.size

In [ ]:
gtd.isnull().sum()

In [ ]:
# the data set have more than 60% of NAN values so lets drop the unnessary columns by using for loop 
#column = []
#for i in gtd.columns:
 # if gtd[i].isnull().sum()> 15000:
 #   column.append(i)
#gtd.drop(column,inplace=True,axis=1)

In [ ]:

gtd.rename(columns={'iyear':'Year','imonth':'Month','iday':"day",'gname':'Group','country_txt':'Countrys_','region_txt':'Region',
                     'provstate':'State','city':'city','latitude':'latitude','longitude':'longitude','summary':'summary',
                     'attacktype1_txt':'Attacktype','targtype1_txt':'Targettype','weaptype1_txt':'Weapon','nkill':'kill',
                     'nwound':'wounds'},inplace=True)

In [ ]:
gtd.head(3)

In [ ]:
# created a work bench that we need only perform analysis on this data
gtd = gtd[['Year','Month','day','Countrys_','State','Region','city','latitude','longitude',"Attacktype",'kill',
               'target1','Group','Targettype','Weapon','wounds','summary']]
gtd.head()

In [ ]:
gtd.columns

In [ ]:
'summary','Wounds'

In [ ]:
gtd.info()

In [ ]:
gtd.describe()

# TOP 10 COUNTRIES WHO ARE MOST AFFECTED BY THE TERRORIST

In [ ]:

#Which are the top 10 Countries who are most affected by the terrorist attacks
print('Country with Highest Terrorist Attacks:\n',
     gtd ['Countrys_'].value_counts().head (10))

In [ ]:
# city wise attacks
city=gtd["city"].value_counts()[1:11]
city

In [ ]:
# YEAR WISE ATTACKS
attacks = gtd["Year"].value_counts(dropna=False).sort_index().to_frame().reset_index().rename(columns={"index":"Year","Year":"Attacks"}).set_index("Year")
attacks.head(10)

In [ ]:

attacks.plot(kind="bar",color="black",figsize=(20,10),fontsize=13)
plt.title("Timeline of Attacks",fontsize=15)
plt.xlabel("year",fontsize=15)
plt.ylabel("Number of Attacks",fontsize=15)
plt.show()